<h1>Send EDM</h1>

<%= form_tag(edm_send_path, {class: 'pure-form'}) do %>

<p><%= email_field_tag 'email', nil , placeholder: 'Enter email address', size: 35, class: 'pure-input' %></p>

<%= submit_tag 'SEND!', class: 'button-cta pure-button' %>

<% end %>
