<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>FORD 24 HOUR FIESTA PROJECT</title>
<style type="text/css">
body {
	background-color: #fff;
}
</style>
<body>
<div align="center">

<table width="576" border="0" cellpadding="0" cellspacing="0">
  
  <tr>
  	<td colspan="3" background="http://wantsomeaction.com/fordedm/misc/top.jpg" width="576" height="78">
    	<table width="576" border="0" cellspacing="0" cellpadding="0">
          <tr>
          	<td colspan="3" height="20"></td>
          </tr>
          <tr>
            <td width="35">&nbsp;</td>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; color:#a7aeba; font-size:12px">
            Hi, 
            <br><br>
            We hope you enjoy the latest news and reviews <br> from the world of Ford.
            </td>
            <td width="35">&nbsp;</td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td width="16" style="background:url(http://wantsomeaction.com/fordedm/misc/shadow_left.jpg) repeat-y">&nbsp;</td>
    <td width="544" valign="top">
    	<table width="544" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" align="left">
            <!-- Hero Banner -->
    		<img src="http://yrphilippines.com/newsletter/fordPH/q4/images/hero_banner.jpg" width="544" height="215" alt="The All-New Ford Focus" />
    		<img src="http://wantsomeaction.com/fordedm/misc/in_this_issue.jpg" width="126" height="30" style="margin:10px 0px" />
            </td>
          </tr>
          <tr>
            <td valign="top" align="left" bgcolor="#007ca2" style="padding-left:0px; padding-top:0px">
            <!-- Menu --><a href="#topic1"><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/menu_item1.jpg" width="82" height="25" border="0" /></a><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/menu_item_div.jpg" width="1" height="25" /><a href="#topic2"><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/menu_item2.jpg" width="116" height="25" border="0" /></a><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/menu_item_div.jpg" width="1" height="25" /><a href="#topic3"><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/menu_item3.jpg" width="120" height="25" border="0" /></a><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/menu_item_div.jpg" width="1" height="25" /><a href="#topic4"><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/menu_item4.jpg" width="140" height="25" border="0" /></a><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/menu_item_div.jpg" width="1" height="25" /><a href="#topic5"><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/menu_item5.jpg" width="81" height="25" border="0" /></a><!-- End of Menu -->
            </td>
          </tr>

          <tr>
            <td valign="top" align="left">
            	<table width="544" border="0" cellspacing="0" cellpadding="0">                  
                  <tr>
                    <td width="15">&nbsp;</td>
                    <td width="330" valign="top">

                    <h1>Ford Fiesta</h1>
                    <p>

                    <a href="http://198.199.116.63/video" target="_blank"><img alt="Bc_video" src="http://198.199.116.63/assets/bc_video.jpg"></a>
                   
                    </td>
                    
                    
                    <td width="14">&nbsp;</td>
                    
                    
                    <td valign="top">
                     <table background="http://yrphilippines.com/newsletter/fordPH/q4/images/details-web-2.jpg" width="185" height="95" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td colspan="1" height="15"></td>
                          </tr>
                         
                          <tr>
                            <td>&nbsp;</td>
                              </tr>
                  
                          <tr>
                            <td width="37">&nbsp;</td>
                            <td valign="top" align="left"><a href="https://www.secure.ford.com.ph/customer-update-form" target="_blank"><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/update.jpg" width="112" height="33" alt="Find us on Facebook" border="0" /></a></td>
                          </tr>
                        </table>
                        <br/>
                    	
                   	  <table background="http://wantsomeaction.com/fordedm/misc/here_to_help_bckgrnd2.jpg" width="185" height="203" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td colspan="2" height="40">&nbsp;</td>
                          </tr>
                          <tr>
                            <td width="20">&nbsp;</td>
                            <td valign="top" align="left" height="20"><a href="http://www.ford.com.ph/service/service-page" target="_blank"><img src="http://wantsomeaction.com/fordedm/misc/btn_ford_service.jpg" width="114" height="15" alt="Ford Services" border="0" /></a>
                            </td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td valign="top" align="left" height="15"><a href="http://www.ford.com.ph/" target="_blank"><img src="http://wantsomeaction.com/fordedm/misc/btn_ford-ph.jpg" width="114" height="15" alt="Ford Philippines" border="0" /></a></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td valign="top" height="15" align="left"><a href="https://www.secure.ford.com.ph/brochure" target="_blank"><img src="http://wantsomeaction.com/fordedm/misc/btn_download_brochure.jpg" border="0" width="113" height="15" alt="Download Brochures" /></a></td>
                          </tr>
                          <tr>
                          	<td>&nbsp;</td>
                            <td><p style="font-family:Arial; font-size:11px; color:#6d737d"><strong>Hotline Numbers :</strong><br />
                            +63-2-866-9408<br />
                            1-800-10-736-3673<br />
                            </p>
                            </td>
                          </tr>
                          <tr>
                            <td width="20">&nbsp;</td>
                            <td valign="top" align="left"><a href="http://www.facebook.com/FordPhilippines" target="_blank"><img src="http://wantsomeaction.com/fordedm/misc/btn_facebook.jpg" width="21" height="31" alt="Find us on Facebook" border="0" /></a><span>&nbsp;</span><a href="https://twitter.com/#!/FordPhilippines" target="_blank"><img src="http://wantsomeaction.com/fordedm/misc/btn_twitter.jpg" width="22" height="31" alt="Follow us on Twitter" border="0" /></a></td>
                          </tr>
                        </table>
                        
                        <br>
                        
                        <table background="http://yrphilippines.com/newsletter/fordPH/q4/images/hotdeals_offer_bckgrnd.jpg" width="185" height="122" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                          	<td width="5">&nbsp;</td>
                           <td align="center"><a href="http://www.ford.com.ph/buying/hot-deals" target="_blank"><img src="http://yrphilippines.com/newsletter/fordPH/q4/images/hotdeals_offer_yec.jpg" width="175" height="76" /></a></td>
                          </tr>
                        </table>
                        
                        
                        <br>
                        
                        
                      <table background="http://wantsomeaction.com/fordedm/misc/did_you_know_bckgrnd.jpg" height="153" width="185" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                          	<td height="37" colspan="3">&nbsp;</td>
                          </tr>
                          <tr>
                            <td width="15">&nbsp;</td>
                            <td valign="top" align="left">
                            <font color="#535553" style="font-size:11px; font-family:Arial">
                           By 2016 Ford plans to decrease the energy it uses to make their vehicles by 25%. 
                            </font>
                            </td>
                            <td width="10">&nbsp;</td>
                          </tr>
                        </table>
               	    </td>
                  </tr>                                    
                </table>
            </td>
          </tr>
        </table>
        
    </td>
    <td width="16" style="background:url(http://wantsomeaction.com/fordedm/misc/shadow_right.jpg) repeat-y">&nbsp;</td>
  </tr>
  <tr>
  	<td colspan="3"><img src="http://wantsomeaction.com/fordedm/misc/bottom.jpg" width="576" height="35" /></td>
  </tr>
  <tr>
  	<td colspan="3" align="center">
    	<a style="font-size:11px; color:#808285; font-family:arial; text-decoration:none" href="https://www.secure.ford.com.ph/contact-us">Unsubscribe</a><font style="margin:0px 10px">|</font><a href="http://www.ford.com.ph/privacy-and-disclaimer" target="_blank" style="font-size:11px; color:#808285; font-family:arial; text-decoration:none">Privacy Policy</a>        
    </td>
  </tr>
  <tr>
  	<td colspan="3" height="40" align="center"><font style="font-size:11px; color:#808285; font-family:arial; text-decoration:none">&copy; 2013 Ford Group Philippines. All rights reserved.</font></td>
  </tr>
</table>
</div>
</body>
</html>